<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Send Email Django Tutorial by StudyGyaan.com</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xl-8 offset-xl-2 py-5">
                    <h1>GlamourHaven</h1>
                    <p class="lead">This is a demo for our tutorial dedicated to crafting working Bootstrap contact form</p>
                    <p>Hello {{ username }},</p>
                    <p>Follow this link to reset your password for your GlamourHaven account.</p>
                    <p><a href="{{ reset_password_url}}">
                        {{reset_password_url}}</a></p>
                    <p>If you didn't ask to reset your password, you can contact us.</p>s
                    <p>Thanks,</p>
                    <p>Your GlamourHaven team</p>
                </div>
            </div>
        </div>
</body>
</html>